<div class='container text-center'>
  <h1 class="display-1">Vous êtes sur la page particulière du potin "<%= @gossip.title %>", créé le <%= @gossip.created_at %></h1>
</div></br></br>

<div class='container'>
    <div class="card border-primary mb-3" style="min-width: 20rem;">
      <div class="card-body text-center">
          <h5 class="card-title"><%= @gossip.title %></h5>
          <p class="card-text">Un potin de <%= @gossip.user.first_name %> <%= @gossip.user.last_name %>.</p>
          <p class="card-text"><%= @gossip.content %></p>
          <% id = @gossip.user.id %>
          <%= link_to 'En découvrir plus sur cet auteur.', user_path(@id = id) %>
      </div>
      <div class="card-footer">
        <small class="text-muted">Mise à jour: <%= @gossip.updated_at %></small>
      </div>    
    </div>
</div>