<% potins = @user.potins %>

<div class='container text-center'>
  <h1 class="display-1">Vous êtes sur la page personnelle de <%= @user.first_name %> <%= @user.last_name %>, membre de TgP depuis le <%= @user.created_at %></h1>
</div></br></br>

<div class='container text-center'>
  <div class='card-deck'>
    <div class="row">
        <% potins.each do |potin| %> 
          <div class="card border-primary mb-3" style="min-width: 20rem;">
            <div class="card-body">
                <h5 class="card-title"><%= potin.title %></h5>
                <p class="card-text"><%= potin.content %></p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Mise à jour: <%= potin.updated_at %></small>
            </div>    
          </div>
        <% end %>
    </div>
  </div>
</div>